@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eaf4ff; 
    margin: 0;
    padding: 0;
}

.topbar {
    background-color: #0073b7; 
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topbar h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.campo {
    margin-bottom: 20px;
}

.campo label {
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

.campo input,
.campo textarea,
.campo select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    background-color: #fff;
}

.campo select {
    appearance: none; /* Remove o estilo padrão */
    cursor: pointer;
}

.botao-cadastrar {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.botao-cadastrar:hover {
    background-color: #0056b3;
}
