@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    background-color: #eaf4ff; 
    margin: 0;
    padding: 0;
}

.topbar {
    background-color: #0073b7; 
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topbar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.campo {
    margin-bottom: 20px;
}

.campo label {
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

.campo input,
.campo textarea {
    width: 750px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif; 
}


.campo-estoque-container {
    display: flex;
    align-items: center; 
    gap: 15px; 
    margin-bottom: 20px; 
}

.campo-estoque {
    background-color: #f0f0f0; 
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}


.botao-alterar-estoque {
    background-color: #007bff; 
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.botao-alterar-estoque:hover {
    background-color: #0056b3;
}

/* Estilo dos botões */
.botoes {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}


.botao-salvar {
    background-color: #28a745; 
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.botao-salvar:hover {
    background-color: #218838; 
}

input:disabled,
textarea:disabled {
    background-color: #f0f0f0; 
    color: #777;
    cursor: not-allowed;
}
