@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eaf4ff;
    margin: 0;
    padding: 0;
}

.topbar {
    background-color: #0073b7;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topbar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.topbar p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #dfe9f2;
}

.container {
    max-width: 1100px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-x: auto;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

#btn-cadastrar-produto {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btn-cadastrar-produto:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
}

table thead tr {
    background-color: #f7f7f7;
    border-bottom: 2px solid #ddd;
}

table th, table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

table th {
    font-weight: 500;
    color: #555;
}

table tbody tr:hover {
    background-color: #f1f9ff;
}

table tbody tr td {
    color: #333;
}

table tbody tr.inactive {
    background-color: rgba(128, 128, 128, 0.5);
    color: #999;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions a {
    text-decoration: none;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #fff;
}

.actions a.edit {
    background-color: #007bff;
}

.actions a.toggle-situation {
    background-color: #dc3545;
}

.actions a.toggle-situation[data-situation="INACTIVE"] {
    background-color: #28a745;
}

.actions a:hover {
    opacity: 0.8;
}

table tbody tr .actions a {
    pointer-events: auto; /* Garantir que os botões sejam interativos */
}

table tbody tr.inactive .actions a {
    pointer-events: none; /* Desabilita a interação com os botões, exceto para reativação */
}

table tbody tr.active .actions a {
    pointer-events: auto; /* Garantir que os botões sejam interativos */
}
